h1{
    color: aqua;
    background:black;
    font-size: 60px;
    /*
    padding: 1000;
    margin: 10px;
    float: left;*/


}

p{
    color: green;
    font-size: 25px;

}

.parrafo1{

    color: blueviolet;

}

#parrafo2{
    color: blue;

}

ul{

    color:azure;
    background: black;
}
li{
    font-family: cursive;
    font-size: 35px;
}