*{
    box-sizing: border-box;
    margin: 0;
  }
  
  #contenedorPrincipal{
    background-color: #030303;
    height: 1000px;
  }
  .contenedor-flex{
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  #contenedorPrincipal .caja{
    color: white;
    background-color:rgb(17, 51, 163);
    width: 400px;
    height: 400px;
    display: flex;
    border: 1px solid #000;
    justify-content: center; /* Eje Principal */
    align-items: center; /* Eje Cruzado */
  }
  
  .caja1 {
    align-self: flex-start;
  }
  
  .caja3{
    align-self: flex-end;
  }