*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Roboto", sans-serif;
}

header{
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: white;
}
main{

    width: 100%;
    height: 100%;
    padding: 50px 230px;

}
.Navegador{
    display: flex;
    justify-content: space-between;
    max-width:70%;
    margin: 0 auto;
}

.Navegador .nav{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}

.Navegador .nav .nav-item .item-img{

    max-width: 50px;
}

.Navegador .nav .nav-item a{

    text-decoration: none;
    font-weight: 900;
    color: black;
}

.Navegador .nav .nav-item a:hover {

    color: green;
    padding-bottom: 20px;
    border-bottom: 5px solid green;


}

.Cookie-banner{
    position: absolute;
    bottom: 0;
    padding: 50px 40px;
    border-top: 1px solid;
    width: 100vw;
    display: flex;
}
.contenedor-texto{
    flex-grow: 1;
}
.Cookie-banner .span-titulo{
    font-weight: bold;
}

.Cookie-banner .contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cookie-banner .contenedor-boton .bannerButton{

    background-color: black;
    color: white;
    font-weight: 700;
    padding: 10px 5px;
    border-radius: 25px;
    width: 100px;

}


/*
etiqueta de banner de cookies

<div class="Cookie-banner">
        <div class="contenedor-texto">
            <p class="span-titulo">Este sitio usa cookies.</p>
            <span>Al navegar en nuestro sitio aceptas que usemos cookies para personalizar tu experiencia según la Declaración de Privacidad.</span>

        </div>
        <div class="contenedor-boton">
            <button class="bannerButton">Aceptar</button>

        </div>

    </div>*/
