
body{
    font-family: "Roboto", sans-serif;
}
.tarjetas{
    margin-block-end: 10px;
    position:relative;
  
   

}
.contenedor-imagen1{

    width: 50%;

}

.tarjetas .contenedor-imagen1 .imagen{
    width: 100%;
}
.contenedor-interno{

    display: inline-block;

}

.contenedor-texto{

    color: white;
    text-align: center;
    width: 736px;
    position: absolute;
    top: 101px;
    right: 127px;
    font-size: 30px;

}

.color1{
    background-color: #1e3932;
}
.color2{
    background-color: #0044b4;
}
.color3{
    background-color: #d50032;
}

