
body{
    font-family: "Roboto", sans-serif;
}


.tarjetas{
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
    display: flex;
}

.contenedor-imagen1{
    width:50%;
    height:100%;
}
.imagen{
    width:100%;
    height: 100%;
}




.contenedor-texto{

    width: 50%;
    height:100%;
    padding-top: 90px;
    text-align: center;

}

.tituloTarjeta,.parrafoTarjeta{
    display:block;
    color: white;
    font-size: 35px;
}
.parrafoTarjeta{
    font-size: 25px;
}

.color1{
    background-color: #1e3932;
}
.color2{
    background-color: #0044b4;
}
.color3{
    background-color: #d50032;
}

