h1{
    color: aqua;
    background:black;
    font-size: 60px;
    text-align: center;
    /*
    padding: 1000;
    margin: 10px;
    float: left;*/


}

p{
    color: green;
    font-size: 25px;

}

.parrafo1{

    color: blueviolet;

}

#parrafo2{
    color: blue;

}

ul{

    color:azure;
}
li{
    font-family: cursive;
    font-size: 35px;
}

.itemNavegador{
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}
.itemNavegador a {

    text-decoration: none;
    color:rgb(3, 3, 92);

}

.navegador{

    background:whitesmoke;
    border: 1px solid black;
}